<!DOCTYPE html>
<html>
	<head>
		<title>部落冲突</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/coc.css">
	</head>
	<body>
		<div class="container">
			<div class="content">
				游戏介绍 >>
			</div>
			<div class="introduce"></div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
	<script type="text/javascript">
		var content = $('.content')[0];
		var introduce = $('.introduce')[0];
		content.onclick = function() {
			// 请在下方写你的代码:发送ajax请求，调用showIntroduce()方法把获取响应展示在页面中
			$.get('/introduce', function(result) {
				showIntroduce(result);
			})
		};
		/*
		 游戏介绍页面展示
		 {param:data} 参数 data 用于在页面上展示的数据
		 */
		function showIntroduce(data) {
			content.style.display = "none";
			introduce.style.display = "block";
			introduce.innerHTML = data;
		}
	</script>
</html>
