<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <link rel="stylesheet" href="../static/css/74/cs2.css">
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <script>
        function check(){
            inputs = $("[type='file']");
            if(inputs.length == 0){
                alert('请添加 type是file 的input元素');
                return false;
            }
            if(inputs[0].name != 'pic'){
                alert('请添加type是file的input元素的name属性值设置为 pic');
                return false;
            }
            if (inputs[0].value == null || inputs[0].value == ''){
                alert('请选择文件后再提交！');
                return false;
            }
        }
    </script>
</head>
<body>
<div>{{ data }}</div>
<!-- 在下方写你的代码：在 form 表单中设置上传文件属性-->
<form onsubmit="return check()" action='/upload' method='post'>
     <!-- 使用 input 标签选择文件，设置 name 属性为 pic-->
    <input type='submit'>

</form>

</body>
</html>