*{margin:0;padding:0;box-sizing: border-box;}
.container{margin:auto;width:1348px;height: 6169px;background: url(/static/images/acfun/acfun_home.png) no-repeat top center/cover;}
.welcome{color:#0084E3;padding-left:20px;padding-top: 10px;}
