<!DOCTYPE html>
<html>
<head>
    <title>冰冰有理</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bags.css">
</head>
<body>
<div class="container">
    <div class="content">
        <div class="bags">
            <!--请在下方写你的代码：使用模板for循环展示数据-->
            
            <div class="bag">
            	<!--请在下方写你的代码：获取图片-->
                <img src="/static/images/bags/">
                <!--请在下方写你的代码：获取包包名字-->
                <p class="name"></p>
                <!--请在下方写你的代码：获取包包类型-->
                <p class="type"></p>
            </div>
            <!--请在下方写你的代码：结束for循环-->
            
        </div>
    </div>
</div>
</body>
</html>
