<!DOCTYPE html>
<html>
<head>
    <title>注册页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/homework.css">
</head>
<body>
<div class="login-box">
    <form class="login-form" action="/register" method="post">
        <span class="user-icon"></span><input type="text" name="username" placeholder="请输入账号">
        <span class="pass-icon"></span><input type="password" name="password" placeholder="请输入密码">
        <span class="pass-icon"></span><input type="password" name="password" placeholder="请重复输入密码">
        <input type="submit" value="注册">
    </form>
</div>
</body>
</html>
