<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <link rel="stylesheet" href="../static/css/homework.css">
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <script>
        function check(){
            inputs = $("[type='file']");
            if(inputs.length == 0){
                alert('请添加 type是file 的input元素');
                return false;
            }
            if (inputs[0].value == null || inputs[0].value == ''){
                alert('请选择文件后再提交！');
                return false;
            }
             if($('form')[0].method != 'post'){
                alert('请将form元素的请求方法 method 设置为 post');
                return false;
            }
        }

    </script>
</head>
<body>
<div>{{ data }}</div>
<!-- 在下方写你的的代码：from 表单发送文件，请求地址为 /homework，请求方式为post-->
<form onsubmit="return check()" >
<!-- 设置 input 标签添加文件，name 属性值为 homework_file -->
    <input type='submit'>
</form>
</body>
</html>