<!DOCTYPE html>
<html>
	<head>
		<title>jquery元素选择器</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/test01.css">
	</head>
	<body>
		<p>
			人生苦短，我用python
		</p>
		<div class="button">
			点击隐藏
		</div>
	</body>

	<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
	<script type="text/javascript">
		//请在下方写你的代码:获取class为button的元素和P元素，并在点击事件中隐藏P元素
		var button = $(".button")[0];
		var p = $("p")[0];
		button.onclick = function() {
			p.style.display = 'none';
		}

	</script>
</html>