{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block header %}
<div class="header">
  <div class="header-bar">
    <img src="/static/images/vmall.png">
  </div>
</div>
<div class="hot-board">
  <div class="category-list">
    <div class="zxnav" data-id="5dd913f4219c221a4e55ef79">
      <p>手机</p>
    </div>
    <div class="zxnav" data-id="5dd913f4219c221a4e55ef7a">
      <p>笔记本 & 平板</p>
    </div>
    <div class="zxnav" data-id="5dd913f4219c221a4e55ef7b">
      <p>智能穿戴</p>
    </div>
    <div class="zxnav" data-id="5dd913f4219c221a4e55ef7c">
      <p>智能家居 & 智慧屏</p>
    </div>
    <div class="zxnav" data-id="5dd913f4219c221a4e55ef7d">
      <p>热销配件</p>
    </div>
    <div class="zxnav" data-id="5dd913f4219c221a4e55ef7e">
      <p>增值服务 & 其他</p>
    </div>
  </div>
</div>
<div class="home-goods">
  <div class="h">
    <h2 class="title">热销单品</h2>
  </div>
  <div class="b">
    <div class="span-fl">
      <img src="/static/images/hot.png">
    </div>
    <div class="span-li">

    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/index.js"></script>
{% endblock %}
