<!DOCTYPE html>
<html>
<head>
  <title>会员登录</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/14/test02.css">
</head>
<body>
  <div class="login">
    <div class="login-zh cur">密码登录</div>
    <!--在下方写你的代码：为form标签添加method属性-->
    <form class="login-form" action="/test" method="">
      <!--在下方写你的代码：设置input标签的name属性-->
      <input type="text" name="" placeholder="邮箱/手机/用户名">
      <input type="password" name="" placeholder="密码">
      <input type="submit" value="登 录">
    </form>
    
  </div>
</body>
</html>
