<!--继承父模板-->
{% extends "base.html" %}

{% block stylesheet%}
    <!--  引入特定的css文件  -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}

{% block main_content %}
    <!--   特有的内容  -->
    <div class="login-container">
        <form action="#">
            <div class="login-username">
                <span class="username-icon"></span>
                <span class="login-line"></span>
                <input type="text" name="username">
            </div>
            <div class="login-password">
                <span class="password-icon"></span>
                <span class="login-line"></span>
                <input type="password" name="password">
            </div>
            <div class="login-to-regist">
                <a href="#">注册账号</a>
            </div>
            <input class="login-btn" type="submit" value="">
        </form>
    </div>
{% endblock %}

{% block script %}
    <!--引入特定的js文件-->
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}
